@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}


:root {
  --color-grey: #DFDFDF;
  --color-prime: #FF6161;
  --color-quote: #E2E2E2; 
  --color-ubuntu: #300A24;
  --color-bright: #FFF;
  --color-dark: #000;
  --color-prime-dark: #FF2F52;
  --color-light-green: #DDF0D6;
  --color-blue: #2F9BFF;
}

header {
  border-bottom: 1px solid var(--color-grey);
}

.main {
  margin: 0 auto;
  max-width: 1350px;
}

.smooth-scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* header */
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding:.5rem 0;
}

.header__logo {
  display: flex;
  cursor: pointer;
}

.header__menu{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 2rem;
  list-style: none;
  justify-content: end;
  padding: 1rem;
}


/* hero */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10rem 2rem;
  align-items: center;
  line-height: 3.7rem;
}

.hero__text h3 {
  font-size: 2.3rem;
  font-weight: 500;
  margin: 0;
  padding: 0 2rem;
}

.hero__text h1 {
  font-size: 3.5rem;
  color: var(--color-prime);
  margin: 0;
  padding: .5rem 2rem;
}

.hero__img {
  display: grid;
  justify-content: end;
}

/* quote */
.quote {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--color-quote);
  padding: 7rem 0;
}

.quote p {
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
  padding: 0 1.5rem;
}

.mark {
  display: inline-block;
  position: absolute;
  margin-left: -3rem;
  margin-top: -0.5rem;
}

/* Latest works */
.latest-work {
  padding: 10rem 1.5rem 15rem;
}

.latest-work__images {
  display: grid;
  grid-template-columns: 2fr 4fr; 
  grid-gap: 2rem; 
  /* display: flex;
  flex-wrap: wrap; */
}

.image-container img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* About */
.about {
  background-color: var(--color-ubuntu);
  color: var(--color-bright);
  padding: 7rem 1rem;
}

.about p {
  font-size: 1.2rem;  
  font-weight: 200;
}

.about .about__col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding: 0;
}

.about_skill span {
  opacity: .65;;
}

.headings {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2.8rem;
  margin-top:0;
}

.footer {
  background-color: var(--color-light-green);
  padding: 4rem 1rem 2rem;
  position: relative;
}

.footer h3 {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

.footer h3 span {
  color: var(--color-prime-dark)
}

.footer p {
  font-size: 1.3rem;
  margin: 0;
}

.footer .email-link a {
  color: var(--color-blue);
}

.footer .footer__social {
  display: grid;
  grid-template-columns: 1fr auto;
  font-size: 1.2rem;
  padding-top: 5.5rem;
  justify-content: space-between;
  margin:0;
}

/* tabs */
.work {
  padding: 3rem;
}

.tab-title ul {
  text-align: center;
}

.tab-title ul li {
  display: inline-block;
  list-style-type: none;
  padding:0.2rem 0.5rem;
  margin: 0 2.5rem 1.8rem;
  cursor: pointer;
}

.active-tab {
  background-color: deeppink;
  color: #fff;
  border-radius: 0.8rem;
}

.tab-content {
  background-color: var(--color-grey);
  padding:1rem;
}

.content {
  display: none;
}

/* Slider */
.slider-container {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  overflow: hidden;
}

.slider-item {
  opacity: 0;
  transition: opacity ease-in-out .5s;
  grid-row-start: 1;
  grid-column-start: 1;
  text-align: center;
}

.active {
  opacity: 1;
}

.slider-item img {
  margin: 1rem 0;
  width: 75%;
  object-fit: contain;
  box-shadow: 2px 0px 10px rgba(0,0,0,0.2);
  cursor: pointer;
}

.slider-arrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.next {
  top: 50%;
  right: 0;
  position: fixed;
  /* transform: translateX(-390%); */
}

.prev {
  top: 50%;
  left: 0;
  position: fixed;
  /* transform: translateX(390%); */
}

