@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');
@import "mixins.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}


:root {
  --color-grey: #DFDFDF;
  --color-prime: #FF6161;
  --color-quote: #E2E2E2; 
  --color-ubuntu: #300A24;
  --color-bright: #FFF;
  --color-dark: #000;
  --color-prime-dark: #FF2F52;
  --color-prime-darkest: #e40023;
  --color-light-green: #DDF0D6;
  --color-blue: #2F9BFF;
  --color-yellow: #e3b508;
}

header {
  border-bottom: 1px solid var(--color-grey);
}

.main {
  margin: 0 auto;
  max-width: 1350px;
}

.smooth-scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  
  .header__logo {
    display: flex;
    cursor: pointer;
  }
  
  .header__menu{
    display: grid;
    grid-template-columns: repeat(3, auto);
    list-style: none;
    justify-content: end;
    padding: 1rem;
  }
  
    .hero {
    display: grid;
    padding-bottom: 0;
    align-items: center;
    line-height: 3.7rem;
  }

  .headings {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2.8rem;
    margin-top:0;
  }
  
// Small devices (landscape phones, 576px and up)
@media (min-width: 0px) { 
  .main {
    padding: toRem(0) toRem(30)
  }
  .header{
    padding:toRem(8) toRem(0);
  }
  .header__menu {
    grid-gap: toRem(16);
  }
  .hero {
    padding: toRem(90) toRem(0);
    grid-template-columns: 1fr;
    
    .hero__text h3 {
      font-size: toRem(25);
      font-weight: 600;
      margin: 0;
    }
    
    .hero__text h1 {
      font-size: toRem(45);
      color: var(--color-prime);
      margin: 0;
    }
    
    .hero__img {
      display: none;
    }
    .hero__img img {
      width: 65%;
      height: auto;
    }
  }

    .quote {
      display: grid;
      grid-template-columns: 1fr;
      background-color: var(--color-quote);
      padding: 9rem 0;
    }
    
    .quote p {
      font-size: 1.7rem;
      font-weight: 600;
      text-align: center;
      padding: 0 1.5rem;
    }
    
    .mark {
      display: inline-block;
      position: absolute;
      margin-left: toRem(-15);
      margin-top: -0.5rem;
    }

    .latest-work {
      padding: 10rem 1.5rem 15rem;
    }
    
    .latest-work__images {
      display: grid;
      grid-template-columns: 1fr; 
    }
    
    .image-container img {
      width: 100%;
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }

    .about {
      background-color: var(--color-ubuntu);
      color: var(--color-bright);
      padding: 7rem 1rem;
    }
    
    .about p {
      font-size: 1.2rem;  
      font-weight: 200;
    }
    
    .about .about__col {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1rem;
      padding: 0;
    }
    
    .about_skill span {
      opacity: .65;;
    }
    
    .footer {
      background-color: var(--color-light-green);
      padding: 4rem 1rem 2rem;
      position: relative;
    }
    
    .footer h3 {
      font-size: toRem(30);
      margin: 0;
      padding-bottom: toRem(20);
    }
    
    .footer h3 span {
      color: var(--color-prime-dark)
    }
    
    .footer p {
      font-size: 1.2rem;
      margin: 0;
    }
    
    .footer .email-link a {
      color: var(--color-dark);
      text-decoration: underline;
    }
    
    .footer .footer__social {
      display: grid;
      grid-template-columns: 1fr auto;
      font-size: 1.2rem;
      padding-top: 5.5rem;
      justify-content: space-between;
      margin:0;
    }
  /* tabs */
  .work {
    padding: 3rem;
  }
  
  .tab-title ul {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .tab-title ul li {
    display: inline-block;
    list-style-type: none;
    padding:0.2rem 0.5rem;
    margin: 0 2.5rem 1.8rem;
    cursor: pointer;
  }
  
  .active-tab {
    background-color: deeppink;
    color: #fff;
    border-radius: 0.8rem;
  }
  
  .tab-content {
    // background-color: var(--color-grey);
    padding:1rem;
  }
  
  .content {
    display: none;
  }
  
  /* Slider */
  .slider-container {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    overflow: hidden;
  }
  
  .slider-item {
    opacity: 0;
    transition: opacity ease-in-out .5s;
    grid-row-start: 1;
    grid-column-start: 1;
    text-align: center;
  }
  
  .active {
    opacity: 1;
  }
  
  .slider-item img {
    margin: 1rem 0;
    width: 75%;
    object-fit: contain;
    box-shadow: 2px 0px 10px rgba(0,0,0,0.2);
    cursor: pointer;
  }
  
  .slider-arrow {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .next {
    top: 50%;
    right: toRem(20);
    position: fixed;
    opacity: .6;
  }

  .next:hover {
    opacity: 1;
  }
  
  .prev {
    top: 50%;
    left: toRem(20);
    position: fixed;
    opacity: .6;
  }

  .prev:hover{
    opacity: 1;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  .main {
    padding: toRem(0) toRem(30)
  }
  .header{
    padding:toRem(8) toRem(0);
  }
  .header__menu {
    grid-gap: toRem(32);
  }
  .hero {
    padding: toRem(90) toRem(0);
    padding-bottom: 0;
    grid-template-columns: 2fr 1fr;
    
    .hero__text h3 {
      font-size: toRem(35);
      font-weight: 600;
      margin: 0;
    }
    
    .hero__text h1 {
      font-size: toRem(55);
      color: var(--color-prime);
      margin: 0;
    }
    
    .hero__img {
      display: flex;
      justify-content: flex-end;
    }
    .hero__img img {
      width: 65%;
      height: auto;
    }
  }
  .mark {
    display: inline-block;
    position: absolute;
    margin-left: toRem(-45);
    margin-top: -0.5rem;
  }

  .latest-work {
    padding: 10rem 1.5rem 15rem;
  }
  
  .latest-work__images {
    display: grid;
    grid-template-columns: 2fr 4fr; 
    grid-gap: 2rem; 
    /* display: flex;
    flex-wrap: wrap; */
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  .about {
    background-color: var(--color-ubuntu);
    color: var(--color-bright);
    padding: 7rem 1rem;
  }
  
  .about p {
    font-size: 1.2rem;  
    font-weight: 200;
  }
  
  .about .about__col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 0;
  }
  
  .about_skill span {
    opacity: .65;;
  }

    /* tabs */
    .work {
      padding: 3rem;
    }
    
    .tab-title ul {
      text-align: center;
    }
    
    .tab-title ul li {
      display: inline-block;
      list-style-type: none;
      padding:0.2rem 0.5rem;
      margin: 0 2.5rem 1.8rem;
      cursor: pointer;
    }
    
    .active-tab {
      background-color: deeppink;
      color: #fff;
      border-radius: 0.8rem;
    }
    
    .tab-content {
      // background-color: var(--color-grey);
      padding:1rem;
    }
    
    .content {
      display: none;
    }
    
    /* Slider */
    .slider-container {
      display: grid;
      grid-template-columns: 1fr;
      position: relative;
      overflow: hidden;
    }
    
    .slider-item {
      opacity: 0;
      transition: opacity ease-in-out .5s;
      grid-row-start: 1;
      grid-column-start: 1;
      text-align: center;
    }
    
    .active {
      opacity: 1;
    }
    
    .slider-item img {
      margin: 1rem 0;
      width: 75%;
      object-fit: contain;
      box-shadow: 2px 0px 10px rgba(0,0,0,0.2);
      cursor: pointer;
    }
    
    .slider-arrow {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
    
    .next {
      top: 50%;
      right: toRem(20);
      position: fixed;
    }
    
    .prev {
      top: 50%;
      left: toRem(20);
      position: fixed;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  .header{
    padding:toRem(8) toRem(0);
  }
  .header__menu {
    grid-gap: toRem(32);
  }
  .hero {
    padding: toRem(90) toRem(0);
    grid-template-columns: 2fr 1fr;
    padding-bottom: 0;
    
    .hero__text h3 {
      font-size: toRem(45);
      font-weight: 600;
      margin: 0;
    }
    
    .hero__text h1 {
      font-size: toRem(65);
      color: var(--color-prime);
      margin: 0;
    }
    
    .hero__img {
      display: flex;
      justify-content: flex-end;
    }
    .hero__img img {
      width: 65%;
      height: auto;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  .header{
    padding:toRem(8) toRem(0);
  }
  .header__menu {
    grid-gap: toRem(32);
  }

  .work {
    padding: 3rem;
  }
  
  .tab-title ul {
    text-align: center;
  }
  
  .tab-title ul li {
    display: inline-block;
    list-style-type: none;
    padding:0.2rem 0.5rem;
    margin: 0 2.5rem 1.8rem;
    cursor: pointer;
  }
  
  .active-tab {
    background-color: deeppink;
    color: #fff;
    border-radius: 0.8rem;
  }
  
  .tab-content {
    padding:1rem;
  }
  
  .content {
    display: none;
  }
  
  .slider-container {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    overflow: hidden;
  }
  
  .slider-item {
    opacity: 0;
    transition: opacity ease-in-out .5s;
    grid-row-start: 1;
    grid-column-start: 1;
    text-align: center;
  }
  
  .active {
    opacity: 1;
  }
  
  .slider-item img {
    margin: 1rem 0;
    width: 75%;
    object-fit: contain;
    box-shadow: 2px 0px 10px rgba(0,0,0,0.2);
    cursor: pointer;
  }
  
  .slider-arrow {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .next {
    top: 50%;
    position: absolute;
  }
  
  .prev {
    top: 50%;
    position: absolute;
  }
  
}